.Banner{
    position: fixed;
    z-index: 9;
    .bg(@infrared);
    .w(100%, none, none);
    .h(100px, none,none);
    .padding(0);
    .flex-flow(row, no-wrap, space-between);
    .font-style(@Super, normal);
    .font-size(2rem);
    color: @white;
    .b-shadow();

    .Banner-X{
        .w(100px, none, none);
        .socialmedia{
            img{
                .w(20px, none, none);
                .h(20px, none, none);
                margin: 5px;
            }
        }
    }
}

//
.App > div:nth-child(1){
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

