/* less imports */
@import 'variables';
@import 'mixins';
@import 'App'; 
@import 'Render';
@import 'Projects';
@import 'Nav';
@import 'Theme';
@import 'Home';
@import 'Reuseables';
@import 'Main';
@import 'SlideShow';
@import 'TheLab';
@import 'HeatMap';

@import '../css/fonts.css';

//Ubuntu font pack
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
//Titillium Web
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

//Global styles

body, html, #root, #TheLab{
    .w(100%);
    .h(max-content);
    .bg(var(--primary-background));
    .c(var(--primary-text));
}

p, ul{
    .w(100%);
}

p, input, textarea{
    .TitilliumWeb()!important;
}
.App{
    .max-w(1000px);
    position: relative;
    .Modenine();

}

.extraBigLetter{
    font-size: 2rem;
}

body, .App, html, #root, #TheLab,  .Section{
    .centerWithMargin();
    font-weight: 300;
}


#document, body, #root, .App{
    .h(100%)!important;
}


