.Main{
    margin-top: 1%;
    .font-size(1.3rem); 
    .w(70%, none, none);
    position: absolute;
    right: 0;
    padding-bottom: 10%;
    @media @tablet {
        margin: 0;
        .w(100%, none, none);
    }
}

.Main-h3{
    .font-size(2rem);
    margin: 3% 0;
}
#About, #Skills, #Projects, #Contact{
    padding: 2%;
}

#Jumbotron{
    .bg(#272727);
    .w(100%, none, none);
    .h(600px, 250px, 500px);
    .flex-flow(row, wrap, none);
    position: relative;
    .font-style(@Super, regular);
    @media @tablet {
        .h(380px, 250px, 500px);
    }
}

#term{
    position: absolute;
    top: 45px;
    left: 10px;
    color: #41ff51;
    position: relative;


}

#term, .type{
    .font-size(1.7rem);
    @media @tablet {
        .font-size(1.4rem);
    }

}

.type{
    position: absolute;
    left: 195px;
    top: 45px;
    color: white;
    @media @tablet {
        left: 165px;
        
    }
}

#close, #expand, #mini{
    margin-top: 15px;
    .padding(4px);
    .w(15px, none, none);
    .h(15px, none, none);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

#close > img, #expand > img, #mini > img{
    .w(5px, none, none);
    .h(5px, none, none);

}
#close{
    .bg(#fc5e5e);

}
#expand{
    .bg(#41ff51);
}
#mini{
    .bg(#fdbf4b);
}

.ToolBar{
    .w(100%, none, none);
    .h(40px, none, none);
    .bg(#5c5c5c);
    position: absolute;
    top: 0;
    left: 0;
    div{
        .h(40px, none, none);
        .w(100px, none, none);
        .flex-flow(row, no-wrap, space-evenly);
        float: right;

    }

}

.cpu-gif{
    position: absolute;
    bottom: 5px;
    right: 20px;
    .w(30%, none, none);
}
//ABOUT SECTION

#About{
    .bg(@infrared);
    color: @white;
    &:hover{
        opacity: .9;
    };
};

#Skills{
    
    #CardContainer{
        .flex-flow(column, wrap, space-around);
        h4{
            text-align: center;
            .w(100%, none, none);
            .bg(#353535);
            color: white
        }
        .SkillCard{
            margin-top: 2%;
            margin-bottom: 4%;
            display: inline-block;
            .w(140px, none, none)!important;
            .h(180px, none, none);
            @media @tablet {
                
            }
            .padding(0);
            .w(100%, none, none);
            .img-con{
                .flex-flow(column, no-wrap, space-evenly);
                .w(130px, none, none);
                .h(130px, none, none);

                img{
                    .w(100px, none, none);
                    .h(100px, none, none);
                    margin: 0 auto;
                }
                p{
                    text-align: center;
                }
            }
            .skill-list{
                .padding(0);
                .w(65%, none, none);
                @media @tablet {
                    .w(100%, none, none);
                    
                }
                li{
                    list-style-type: none;
                    .margin(1);
                    #bullit{
                        color: @infrared;
                    }
                }
            }
        }
    }
}


#Projects{

    .project-overview{
        .h(350px, none,none);

        h3{
            margin: 4% 0;
        }
    }
}

#Contact{
    .bg(black);
    color: white;
    form{
        .flex-flow(column, wrap, center);
        .w(50%, 350px, 600px);
        label{
            .padding(0);
            input{
                display: block;
            }
        }
        button{
            .w(120px, none, none);
            .h(40px, none, none);
            padding: 0 5%;
            border-radius: 2px;
            border: none;
            .bg(@infrared);
            .font-style(@Sora, 400);
            color: white;
        }
    }
}
textarea{
    .h(200px, none, none);
    .w(400px, none, none);
    display: block;
}