

.Main-h3{
    .font-size(1.2rem);
    .w(max-content);
    .c(var(--primary-text));


}
#Intro, #Skills, #Projects, #Contact{
    margin-bottom: 50px;
}

#term{
    display: block;
    .h(90%);
    color: #41ff51;
    position: absolute;
    top: 30px;
    .padding(1% 0);

}

.ityped-cursor {
    font-size: 1.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

#term, #type{
    .font-size(1.2rem);
    @media @tablet {
        .font-size(1rem);
    }

}

#type{
    color: white;
    text-align: left;
    line-height: .4em;
    white-space: pre-wrap;
    .w(800px);
    .h(100%);

}

#close, #expand, #mini{
    .w(20px);
}

#close > img, #expand > img, #mini > img{
    .w(15px);
    .h(15px);
    border-radius: 50%;
    .padding(2px);
}
#close > img{
    .bg(#fc5e5e);

}
#expand > img {
    .bg(#41ff51);
}
#mini > img{
    .bg(#fdbf4b);
}

.ToolBar{
    .b-r(4px 4px 0 0 );
    .w(100%);
    .h(30px);
    .bg(#5c5c5c);
    .flex-flow(row, no-wrap, space-between);

    p{
        .w(33%);
        .padding(0);
        .margin(0);
        text-align: center;
        line-height: 30px;
    &:first-child{
            visibility: hidden;
        }
    }
    #windowControl{
        .w(33%);
        div{
            .margin(2%);
            float: right;
            .flex(row);
        }
    }

}

.cpu-gif{
    position: absolute;
    bottom: 5px;
    right: 20px;
    .w(30%);
}
//ABOUT SECTION

#Intro{
    .bg(var(--intro-component));
    .padding(2%);
    color: @white;
    .TitilliumWeb();
    p{
        font-size: 1.1rem;
        @media @tablet {font-size: 1rem;}
        line-height: 2;
    }
    &:hover{
        opacity: .9;
    };
};

#Skills{
    #CardContainer > div{
        .centerWithMargin();
    }

    #CardContainer{
        .flex-flow(column, wrap, space-around);
        h4{
            font-size: 1rem;
            text-align: center;
            .w(100%);
            .c(var(--primary-text));
        }
        .os-skills, .fe-skills, .be-skills{
            .flex-flow(row, wrap, space-evenly);
        }
        .SkillCard{
            margin-top: 2%;
            margin-bottom: 1%;
            display: inline-block;
            .w(140px)!important;
            .h(180px);
            .padding(0);
            .w(100%);
            .img-con{
                .flex-flow(column, no-wrap, space-evenly);
                .w(130px);
                .h(130px);

                img{
                    .w(70px);
                    .h(70px);
                    margin: 0 auto;
                    .zoom();
                }
                p{
                    padding-top: 15px;
                    font-size: 1rem;
                    text-align: center;
                    .c(var(--secondary-text));
                }
            }
            .skill-list{
                .padding(0);
                .w(65%);
                @media @tablet {
                    .w(100%);
                    
                }
                li{
                    list-style-type: none;
                    .margin(1);
                    #bullit{
                        color: @infrared;
                    }
                }
            }
        }
    }
}


#coffee{
    margin: 1%;
    width: 30px
}

#Contact{
    .bg(var(--primary-background));
    .c(var(--primary-text));
    padding-bottom: 100px;
    
    div{
        margin-bottom: 50px;
        .flex-flow(row, no-wrap, space-around);
        @media @tablet {
            .flex-flow(column-reverse, no-wrap, space-around);
            align-items: center;

        }
        form{
            .flex-flow(column, wrap, center);
            align-items: center;
            width: 70%;
            label{
                font-size: 1rem;
                .w(100%);
                input{
                    display: block;
                    .w(100%);
                    .bg(var(--primary-background));
                    border: none;
                    border-bottom: var(--border-bottom) 2px solid;
                    .c(var(--primary-text));

                }
                textarea{
                    .w(100%);
                    .bg(var(--primary-background));
                    .c(var(--primary-text));
                    border: none;
                    border-bottom: var(--border-bottom) 2px solid;
                }
                input:-internal-autofill-selected, textarea:-internal-autofill-selected  {
                    .c(var(--primary-text));
                }
                textarea:focus, input:focus{
                    .c(var(--primary-text));
                    outline: none;
                    
                }
            }
            a{
                margin: 2%;
                text-decoration: none;
                &:hover{.c(black);}
                .h(40px);
                line-height: 0px;
            }
        }

        .contact-ad{
            width: 50%;
            padding: 4%;
            font-size: 1rem;
            .flex-flow(column, no-wrap, space-evenly);
            @media @tablet {
            }
            img{
                width: 270px;
                height: 200px; 
                margin: 10% 0;

            }
            p{
                .c(var(--primary-text));
                text-align: center;
                margin: 3% 0;
            }
        }
    }
}
textarea{
    .h(200px);
    .w(50%);
    .min-w(320px);
    .max-w(600px);
    display: block;
}