//Paint
.bg(@color){
    background-color: @color;
}
.c(@color){
    color: @color;
}
.invisible(){
    display: none;
}

//Rotation
.rotate(@deg){
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    transform: rotate(@deg);
}
//shadow
.b-shadow{
    box-shadow: 0 8px 6px -6px black;
}

.t-shadow{
    box-shadow: 0 -8px 6px -6px black;
}

.r-shadow{
    box-shadow: 8px 0 6px -6px black;
}

.l-shadow{
    box-shadow: -8px 0 6px -6px black;
}

.l-b-shadow{
    box-shadow: -8px 8px 6px -6px black;
}

.r-b-shadow{
    box-shadow: 8px 8px 6px -6px black;
}


//fonts
.font-style(@font, @weight){
    font-family: @font;
    font-weight: @weight;
}

.font-size(@size){
    font-size: @size;
}

//sizing
.h(@height, @min, @max){
    min-height: @min;
    max-height: @max;
    height: @height;
}

.w(@width, @min, @max){
    min-width: @min;
    max-width: @max;
    width: @width;
}

.padding(@p){
    padding: 1% + @p;
}

.margin(@m){
    margin: 1% + @m;
}

.flex-flow(@flow, @wrap, @space){
    display: flex;
    flex-direction: @flow;
    justify-content: @space;
    flex-wrap: @wrap;
}

//ETC.
.centerWithMargin{
    margin: 0 auto;
}
