//Paint
.bg(@color){
    background-color: @color;
}
.c(@color){
    color: @color;
}
.invisible(){
    display: none;
}

//Rotation
.rotate(@deg){
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    transform: rotate(@deg);
}
//shadow
.b-shadow{
    box-shadow: 0 8px 6px -6px black;
}

.t-shadow{
    box-shadow: 0 -8px 6px -6px black;
}

.r-shadow{
    box-shadow: 8px 0 6px -6px black;
}

.l-shadow{
    box-shadow: -8px 0 6px -6px black;
}

.l-b-shadow{
    box-shadow: -8px 8px 6px -6px black;
}

.r-b-shadow{
    box-shadow: 8px 8px 6px -6px black;
}


//fonts
.font-style(@font, @weight){
    font-family: @font;
    font-weight: @weight;
}

.font-size(@size){
    font-size: @size;
}

//sizing
.h(@height){
    height: @height;
}

.max-h(@h){
    max-height: @h;
}

.min-h(@h){
    max-height: @h;
}


.w(@w){
    width: @w;
}

.max-w(@w){
    max-width: @w;
}

.min-w(@w){
    max-width: @w;
}

.max-h(@h){
    max-height: @h;
}

.min-h(@h){
    min-height: @h;
}

.padding(@p){
    padding: @p;
}

.margin(@m){
    margin: @m;
}

.flex(@flex){
    display: flex;
    flex-direction: @flex;
}

.flex-flow(@flow, @wrap, @space){
    display: flex;
    flex-direction: @flow;
    justify-content: @space;
    flex-wrap: @wrap;
}

//animations
.fade-in(@s) {
    animation: fadeIn @s;
    -webkit-animation: fadeIn @s;
    -moz-animation: fadeIn @s;
    -o-animation: fadeIn @s;
    -ms-animation: fadeIn @s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .fade-out(@s) {
    animation: fadeOut @s;
    -webkit-animation: fadeOut @s;
    -moz-animation: fadeOut @s;
    -o-animation: fadeOut @s;
    -ms-animation: fadeOut @s;
  }
  @keyframes fadeOut {
    100% {opacity:1;}
    0% {opacity:0;}
  }
  
  @-moz-keyframes fadeOut {
    100% {opacity:1;}
    0% {opacity:0;}
  }
  
  @-webkit-keyframes fadeOut {
    100% {opacity:1;}
    0% {opacity:0;}
  }
  
  @-o-keyframes fadeOut {
    100% {opacity:1;}
    0% {opacity:0;}
  }
  
  @-ms-keyframes fadeOut {
    100% {opacity:1;}
    0% {opacity:0;}
  }


//ETC.
.centerWithMargin{
    margin: 0 auto;
}
