
.Nav{
    .w(100%);
    opacity: .9;
    max-width: 970px;
    .bg(var(--primary-background));
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 8;
    .flex-flow(row, space-around, none);
    @media @tablet {

    }
  
    ul{
        .w(50%);
        .margin(0);
        .max-w(600px);
        list-style: none;
        .flex-flow(row, space-evenly, none);
        
        .padding(0);
        li{
            .w(max-content);
            .padding(0px 2%);
            a{
                .c(var(--primary-text));
            }

        }

    };

    .social-media{
        a{
            height: 20px;
            width: 20px;
    
            img{
                height: 20px;
                width: 20px;
            }
        }
    
    }

};







