.Nav{
    .flex-flow(column, no-wrap, space-around);
    align-items: center;
    position: fixed;
    z-index: 9;
    padding: 0;
    margin-top: 1%;
    .w(250px, none, none);
    .h(max-content, none, none);
    @media @tablet {
        bottom: 0px;
        left:0px;
        margin: 0;
        .w(100%, none, none);
        .h(60px, none, none);
        .bg(@infrared);
        .t-shadow();


    }
    .profile-img{
        background-image: url('https://drive.google.com/uc?id=1DQCBLj-hPM0BhA25ZBzXKEdjXlUe_fo2');
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        overflow: hidden;
        .w(14rem, none, none);
        .h(14rem , none, none);
        margin: 0 auto;
        @media @tablet{
            width: 13rem;
            height: 13rem;
            display: none;
        }
        @media @tablet {
            width: 9rem;
            height: 9rem;
        }
    };
    
  
    ul{
        list-style: none;
        text-align: right;
        .w(100%, none, none);
        margin-top: 4%;
        @media @tablet {
            margin: 0;
            text-align: center;
            .h(100%, none, none);
            .flex-flow(row, no-wrap, space-around);
        }
    };
 
    li{
        .font-style(@Sora, 200);
        .font-size(2rem);
        line-height: 60px;
        padding: 2%;
        .font-style(@Super, regular);
        &:hover{
            .bg(@infrared);
            color: white;
            cursor: pointer;

        };
        @media @tablet {
            .padding(-1%);
            .font-size(1.3rem);
            .w(80px, none, none);
            color: white;
            &:hover{
                color: antiquewhite;
            }

        }
    };
};



#biz-card{
    .padding(0);
    .w(100%, none, none);
    @media @tablet {
        display: none;
    }
}

