.Render{
    .h(100%);
    position: relative;
    @media @tablet {
        margin: 0 auto;
    }
    @media @750px {
        .w(90%)!important;
    }
    @media @mobile {
        padding: 0;
        .w(100%)!important;
    }


    //Terminal Jumbotron Styling


#Jumbotron{
    .bg(#272727);
    .b-r(4px 4px 0 0 );
    background-image: url('https://64.media.tumblr.com/478b9e77d884ae0cfb9abddeacfb4386/096155609c54ec12-fa/s500x750/6617fc3dbf71afc13cdb6507cb161c7920e5ffaf.gif') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 30px;
    .w(100%);
    .h(400px);
    .min-h(250px);
    .max-h(500px);
    .flex-flow(column, wrap, none);
    position: relative;
    @media @tablet {
        .min-h(250px);
        .max-h(500px);
    }
    #callToAction{
        position: absolute;
        bottom: 50px;
        right: 170px;
        .flex(row);
        .w(max-content);
        @media @tablet{
            bottom: 20px;
            right: 60px;
        }
        a{
            .padding(5%);
            .margin(3%);
            text-decoration: none;
            .c(white);
            &:nth-child(1){}
            &:nth-child(2){}
            &:hover{.c(black);}

        }
        
    }

}


}


#IntroHeader{

}

#IntroHeader, #ContactHeader{
    .c(var(--primary-text));

}