 .BannerContainer{
     position: relative;
     margin-top: 20px;
    .h(500px);
    overflow: hidden;
    border: 1px solid aqua;
    .flex(column);
    align-items: center;
    justify-content: center;
    .BannerImg{
        position: absolute;
        filter: blur(3px);
        .w(100%);
    }
    .BannerSpan{
        position: absolute;
        display: inline-block;
        color: white;
        font-size: 1.3rem;
        .bg(black);
        .c(#a65ac9);

    }
}