 .Banner{
    margin-top: 40px;
    .h(200px);
    border: 1px solid aqua;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    filter: grayscale();
    .flex-flow(row, space-around, no-wrap);

    span{
        display: inline-block;
        color: white;
        line-height: 200px;
        font-size: 1.3rem;
    }
}