.photo-container{
    position: relative;
    overflow: hidden;
    max-height: 600px;
    .w(100%);
    @media @tablet {
        
    }
        img{
            .w(65%);
            display: block;
            .centerWithMargin();
        }
    
}
