#TheLab{
    .font-size(1rem); 
    .w(100%);
    .flex-flow(row, space-evenly, no-wrap);


    @media @tablet {
        margin: 0;
        .w(100%);
    }


}

//TheLab.jsx - #theLab-search styles
#theLab-search{
    .padding(1%);
}


//TheLabRender.jsx styles
#theLab-navigation{
    .flex-flow(column, space-around, no-wrap);
    align-content: center;
    .w(25%);
    ul{
        .margin(0);
        .padding(0);
        .flex-flow(column, space-around, no-wrap);
        align-items: center;
        list-style: none;
        li{
            list-style: none;
            a{

            }
        }
    }
}
//TheLabRender.jsx styles
#theLab-render{
    .padding(1%);
    .w(75%);
    .flex-flow(column, space-evenly, no-wrap);
    align-items: center;
    #TheDay{
        .w(100%);
        .margin(1%);
        display: flex;
        justify-content: space-between;
        span{
            #weather-icon{
                .w(30px);
                .h(30px);
            }
        }
    }
    #theLab-homeImg{
        .w(100%);
        .h(500px);
        .centerWithMargin();

        background: no-repeat center;
        background-size: 100% auto;
    }
}