//colors
@white: #ffffff;
@charcoal: #262626;
@infrared: #1f285f;
//@infrared: #ff2052;
//
//fonts

@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

@Sora: 'Sora', sans-serif;
@Super:'Supermercado One', cursive;

//Media Queries
@1480px: ~"(max-width: 1480px)";
@1130px: ~"(max-width: 1130px)";
@tablet: ~"(max-width: 900px)";
@mobile: ~"(max-width: 570px)";