/* less imports */
@font-face {
  font-family: 'Supermercado One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/supermercadoone/v12/OpNXnpQWg8jc_xps_Gi14kVVEXOn60Y.ttf) format('truetype');
}
.b-shadow {
  box-shadow: 0 8px 6px -6px black;
}
.t-shadow {
  box-shadow: 0 -8px 6px -6px black;
}
.r-shadow {
  box-shadow: 8px 0 6px -6px black;
}
.l-shadow {
  box-shadow: -8px 0 6px -6px black;
}
.l-b-shadow {
  box-shadow: -8px 8px 6px -6px black;
}
.r-b-shadow {
  box-shadow: 8px 8px 6px -6px black;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
.centerWithMargin {
  margin: 0 auto;
}
.App {
  position: relative;
  margin: 0 auto;
}
.Section {
  width: 100%;
  max-width: auto;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: no-wrap;
  position: relative;
  padding: 50px 5%;
}
@media (max-width: 1000px) {
  .Section {
    width: 75% !important;
    margin: 0 auto;
  }
}
@media (max-width: 750px) {
  .Section {
    width: 90% !important;
  }
}
@media (max-width: 550px) {
  .Section {
    padding: 0;
    width: 100% !important;
  }
}
.hideTheMenu {
  display: flex;
  justify-content: space-around;
  flex-wrap: no-wrap;
  z-index: 9;
  align-items: center;
  background-color: yellow;
  width: 150px;
  height: 250px;
  margin: 0;
  position: fixed;
  left: 0;
  bottom: -300px;
  left: 10px;
  box-shadow: -8px 0 6px -6px black;
  flex-direction: column-reverse;
}
.hideTheMenu #HideMenu {
  cursor: pointer;
  position: fixed;
  bottom: 280px;
  left: 10px;
  height: 30px;
  width: 30px;
  opacity: 0.94;
}
.hideTheMenu #HideMenu img {
  margin: 0%;
  padding-top: 0;
  height: 30px;
  width: 30px;
}
.hideTheMenu ul {
  position: relative;
  list-style: none;
  text-align: center;
  height: 100%;
}
.hideTheMenu #Back2Top {
  cursor: pointer;
  position: fixed;
  left: 10px;
  bottom: 310px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  opacity: 0.94;
  background-color: var(--primary-background);
}
.hideTheMenu #Back2Top a img {
  padding: 0;
  width: 15px;
  height: 15px;
}
.social-media {
  padding: 5%;
  width: 100%;
}
.social-media a {
  width: 100%;
  height: 20px;
  width: 20px;
  float: right;
}
.social-media a img {
  height: 20px;
  width: 20px;
}
.Nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: no-wrap;
  align-items: center;
  position: fixed;
  z-index: 9;
  padding: 0;
  margin-top: 1%;
  width: 250px;
  height: max-content;
  opacity: 0.94;
}
.Nav h4 {
  width: 100%;
  text-align: right;
  color: var(--primary-text);
}
@media (max-width: 1000px) {
  .Nav {
    bottom: 60px;
    left: 40px;
    margin: 0;
    width: 150px;
    height: 250px;
    background-color: var(--nav-links-on-hover);
    box-shadow: 8px 0 6px -6px black;
    flex-direction: column-reverse;
  }
}
.Nav .profile-img {
  background-image: url('https://drive.google.com/uc?id=1DQCBLj-hPM0BhA25ZBzXKEdjXlUe_fo2');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  width: 14rem;
  height: 14rem;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .Nav .profile-img {
    width: 13rem;
    height: 13rem;
    display: none;
  }
}
@media (max-width: 1000px) {
  .Nav .profile-img {
    width: 9rem;
    height: 9rem;
  }
}
.Nav ul {
  position: relative;
  list-style: none;
  text-align: right;
  width: 100%;
  margin-top: 4%;
  color: var(--primary-text);
}
@media (max-width: 1000px) {
  .Nav ul {
    margin: 0;
    text-align: center;
    height: 100%;
  }
}
.Nav #hideMenu {
  cursor: pointer;
  position: fixed;
  bottom: 280px;
  left: 10px;
  height: 30px;
  width: 30px;
  opacity: 0.94;
}
.Nav #hideMenu img {
  height: 30px;
  width: 30px;
}
.Nav #back2Top {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  width: 30px;
  height: 30px;
  display: inline-block;
  opacity: 0.94;
  line-height: 30px;
  background-color: var(--back-to-top-button);
}
@media (max-width: 1000px) {
  .Nav #back2Top {
    cursor: pointer;
    position: fixed;
    left: 10px;
    bottom: 310px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
  }
  .Nav #back2Top a img {
    padding: 0;
    width: 15px;
    height: 15px;
  }
}
.Nav #back2Top:hover {
  background-color: var(--secondary-background);
}
.Nav #back2Top a {
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 2rem;
  height: 100%;
}
.Nav #back2Top a img {
  padding-bottom: 10px;
  padding-right: 7px;
  width: 20px;
}
@media (max-width: 1000px) {
  .Nav #back2Top a img {
    padding: 0;
    width: 15px;
    height: 15px;
  }
}
.Nav li {
  font-family: 'Sora', sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 50px;
  padding: 2%;
  font-family: 'Supermercado One', cursive;
  font-weight: regular;
}
.Nav li a {
  margin-right: 2%;
}
.Nav li:hover {
  background-color: var(--nav-links-on-hover);
  color: white;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .Nav li {
    padding: 0%;
    font-size: 1.3rem;
    width: 80px;
    color: white;
  }
  .Nav li:hover {
    color: antiquewhite;
  }
}
#biz-card {
  padding: 1%;
  width: 100%;
}
@media (max-width: 1000px) {
  #biz-card {
    display: none;
  }
}
.theme-dark {
  --primary-text: #dbdbdb;
  --secondary-text: #81ff87;
  --primary-background: #19252b;
  --secondary-background: #81ff87;
  --button-one: #cc95dd;
  --button-two: #81ff87;
  --theme-button-background: #81ff87;
  --theme-button-color: #ffffff;
  --nav-links-on-hover: #cc95dd;
  --intro-component: #cc95dd;
  --back-to-top-button: #cc95dd;
  --accent: #B8DBD9;
  --button-border: #B8DBD9;
}
.theme-light {
  --primary-text: #0c0c0c;
  --secondary-text: #000000;
  --primary-background: #ffffff;
  --secondary-background: #0c0c0c;
  --nav-links-on-hover: #ff2052;
  --intro-component: #ff2052;
  --button-one: #ff2052;
  --button-two: black;
  --theme-button-background: #ff2052;
  --theme-button-color: #ffffff;
  --back-to-top-button: #ff2052;
  --accent: #DBE7E4;
  --button-border: #5E4B56;
}
:root {
  /** sunny side **/
  --blue-background: #ff2052;
  --blue-border: #424242;
  --blue-color: #ff2052;
  --yellow-background: #ffffff;
  --yellow-border: #ffffff;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
}
@keyframes reverse {
  0% {
    left: 47px;
    width: 40px;
  }
  60% {
    left: 3px;
    width: 80px;
  }
  100% {
    left: 3px;
  }
}
@keyframes switch {
  0% {
    left: 3px;
  }
  60% {
    left: 3px;
    width: 80px;
  }
  100% {
    left: 40px;
  }
}
.toggle--checkbox {
  display: none;
}
.container--toggle {
  max-width: 200px;
  float: right;
  display: grid;
  place-items: center;
  min-height: 60px;
  position: relative;
  grid-area: toggle;
  margin: 18px;
}
/* background */
.toggle--label {
  width: 70px;
  height: 34px;
  overflow: hidden;
  background: var(--indigo-color);
  border-radius: 100px;
  border: 3px solid var(--indigo-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
}
.toggle--checkbox:checked + .toggle--label {
  background: var(--blue-color);
  border-color: var(--blue-border);
}
/* sun and moon */
.toggle--checkbox:checked + .toggle--label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 360ms ease-in;
  background: var(--yellow-background);
  border-color: var(--yellow-border);
}
.toggle--label:before {
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  content: '';
  width: 25px;
  height: 25px;
  border: 3px solid var(--gray-border);
  top: 1px;
  position: absolute;
  border-radius: 40px;
  background: white;
}
/* moon dimples */
.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: '';
  box-shadow: var(--gray-dots) -14px 0 0 1px, var(--gray-dots) -22px 12px 0 -1px;
  left: 80px;
  top: 10px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-radius: 50%;
  opacity: 1;
}
.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 50ms;
  opacity: 0;
}
/* clouds */
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  width: 5px;
  left: 65px;
  top: 22px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  top: -4px;
  left: 0px;
  width: 20px;
  height: 5px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  top: 3px;
  width: 20px;
  height: 5px;
  left: 10px;
}
/* stars */
.toggle--label-background {
  border-radius: 5px;
  position: relative;
  background: white;
  left: 32px;
  width: 4px;
  transition: all 150ms ease-in;
  top: 12px;
  height: 4px;
}
.toggle--label-background:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  top: -15px;
  border-radius: 5px;
  background: white;
  left: -20px;
  transition: all 150ms ease-in;
}
.toggle--label-background:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  left: -20px;
  top: 10px;
  border-radius: 5px;
  background: white;
  transition: all 150ms ease-in;
}
.Main {
  margin-top: 1%;
  font-size: 1.3rem;
  min-width: none;
  max-width: none;
  width: 55%;
  position: absolute;
  right: 100px;
  padding-bottom: 10%;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .Main {
    width: 60%;
    right: px;
  }
}
@media (max-width: 1000px) {
  .Main {
    padding: 0 1%;
    width: 100%;
    left: 0;
    margin: 0 auto;
  }
}
.Main-h3 {
  font-size: 1.7rem;
  margin: 3% 0;
  font-family: 'Supermercado One', cursive;
  font-weight: none;
  color: var(--secondary-text);
}
#Intro,
#Skills,
#Projects,
#Contact {
  padding: 2%;
}
#Jumbotron {
  background-color: #272727;
  width: 100%;
  height: 400px;
  max-height: 250px;
  min-height: 250px;
  max-height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: none;
  flex-wrap: wrap;
  position: relative;
  font-family: 'Supermercado One', cursive;
  font-weight: regular;
}
@media (max-width: 1000px) {
  #Jumbotron {
    height: 300px;
    max-height: 250px;
    min-height: 250px;
    max-height: 500px;
  }
}
#term {
  position: absolute;
  top: 45px;
  left: 10px;
  color: #41ff51;
  position: relative;
}
#term,
.type {
  font-size: 1.4rem;
}
@media (max-width: 1000px) {
  #term,
  .type {
    font-size: 1rem;
  }
}
.type {
  position: absolute;
  left: 165px;
  top: 45px;
  color: white;
}
@media (max-width: 1000px) {
  .type {
    left: 120px;
  }
}
#close,
#expand,
#mini {
  margin-top: 15px;
  padding: 5%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}
#close > img,
#expand > img,
#mini > img {
  width: 5px;
  height: 5px;
}
#close {
  background-color: #fc5e5e;
}
#expand {
  background-color: #41ff51;
}
#mini {
  background-color: #fdbf4b;
}
.ToolBar {
  width: 100%;
  height: 40px;
  background-color: #5c5c5c;
  position: absolute;
  top: 0;
  left: 0;
}
.ToolBar div {
  height: 40px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
  float: right;
}
.cpu-gif {
  position: absolute;
  bottom: 5px;
  right: 20px;
  width: 30%;
}
#Intro {
  background-color: var(--intro-component);
  color: #ffffff;
}
#Intro p {
  font-size: 1.1rem;
}
@media (max-width: 1000px) {
  #Intro p {
    font-size: 1rem;
  }
}
#Intro:hover {
  opacity: 0.9;
}
#Skills #CardContainer > div {
  margin: 0 auto;
}
#Skills #CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
#Skills #CardContainer h4 {
  text-align: center;
  width: 100%;
  color: var(--primary-text);
}
#Skills #CardContainer .os-skills,
#Skills #CardContainer .fe-skills,
#Skills #CardContainer .be-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#Skills #CardContainer .SkillCard {
  margin-top: 2%;
  margin-bottom: 1%;
  display: inline-block;
  width: 140px !important;
  height: 180px;
  padding: 1%;
  width: 100%;
}
#Skills #CardContainer .SkillCard .img-con {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
  width: 130px;
  height: 130px;
}
#Skills #CardContainer .SkillCard .img-con img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
#Skills #CardContainer .SkillCard .img-con p {
  font-size: 1rem;
  text-align: center;
  color: var(--secondary-text);
}
#Skills #CardContainer .SkillCard .skill-list {
  padding: 1%;
  width: 65%;
}
@media (max-width: 1000px) {
  #Skills #CardContainer .SkillCard .skill-list {
    width: 100%;
  }
}
#Skills #CardContainer .SkillCard .skill-list li {
  list-style-type: none;
  margin: 2%;
}
#Skills #CardContainer .SkillCard .skill-list li #bullit {
  color: #ff2052;
}
#Projects {
  padding-bottom: 10%;
}
#Projects .project-overview {
  height: max-content;
  color: var(--primary-text);
}
#Projects .project-overview h4 {
  margin: 4% 0;
}
#Projects .project-overview p {
  font-size: 1rem;
}
#Projects .project-overview ul {
  list-style: lower-roman;
}
#Projects .project-overview ul li {
  font-size: 1rem;
}
#Projects .project-overview a {
  padding: 1%;
  font-size: 1rem;
}
#Projects .project-overview a:last-child {
  border-left: var(--primary-text) 2px solid;
}
#coffee {
  margin: 1%;
  width: 30px;
}
#Contact {
  background-color: var(--primary-background);
  color: var(--primary-text);
}
#Contact div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: no-wrap;
}
@media (max-width: 1000px) {
  #Contact div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    flex-wrap: no-wrap;
    align-items: center;
  }
}
#Contact div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
#Contact div form label {
  font-size: 1rem;
}
#Contact div form label input {
  display: block;
  width: 100%;
}
#Contact div form label textarea {
  width: 100%;
}
#Contact div form button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: var(--button-one);
  font-family: 'Supermercado One', cursive;
  font-weight: none;
  color: var(--primary-text);
  font-size: 1rem;
}
#Contact div .contact-ad {
  width: 50%;
  padding: 4%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
}
#Contact div .contact-ad img {
  width: 270px;
  height: 200px;
  margin: 10% 0;
}
#Contact div .contact-ad p {
  color: var(--primary-text);
  text-align: center;
  margin: 3% 0;
}
textarea {
  height: 200px;
  width: 50%;
  max-width: 320px;
  max-width: 600px;
  display: block;
}
.photo-container {
  position: relative;
  overflow: hidden;
  max-height: 600px;
  background-color: black;
}
.photo-container img {
  width: 100%;
  height: 100%;
}
#next,
#prev {
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  background-color: #272727;
  opacity: 0.84;
  top: 0;
  height: 100%;
  max-height: 650px;
  width: 60px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
#next:hover,
#prev:hover {
  opacity: 0.97;
}
#next {
  right: 0;
}
#prev {
  left: 0;
}
.TheLab {
  margin-top: 1%;
  font-size: 1.3rem;
  width: 70%;
  position: absolute;
  right: 0;
  padding-bottom: 10%;
}
@media (max-width: 1000px) {
  .TheLab {
    margin: 0;
    width: 100%;
  }
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCp6KVjbNBYlgoKejZftWyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCu6KVjbNBYlgoKeg7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCp6KVjbNBYlgoKejYHtGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCjC3Ttw.ttf) format('truetype');
}
body,
.App,
html,
#root,
.Section {
  width: 100%;
  background-color: var(--primary-background);
  max-width: 1900px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
html {
  font-family: 'Sora', sans-serif;
  font-weight: 200;
}
