/* less imports */
@font-face {
  font-family: 'Supermercado One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/supermercadoone/v12/OpNXnpQWg8jc_xps_Gi14kVVEXOn60Y.ttf) format('truetype');
}
.b-shadow {
  box-shadow: 0 8px 6px -6px black;
}
.t-shadow {
  box-shadow: 0 -8px 6px -6px black;
}
.r-shadow {
  box-shadow: 8px 0 6px -6px black;
}
.l-shadow {
  box-shadow: -8px 0 6px -6px black;
}
.l-b-shadow {
  box-shadow: -8px 8px 6px -6px black;
}
.r-b-shadow {
  box-shadow: 8px 8px 6px -6px black;
}
.centerWithMargin {
  margin: 0 auto;
}
.App {
  position: relative;
  margin: 0 auto;
}
.Section {
  min-height: none;
  max-height: none;
  height: auto;
  min-width: auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: no-wrap;
  position: relative;
  margin: 0 auto;
  padding: 50px 2%;
}
@media (max-width: 1000px) {
  .Section {
    min-width: none !important;
    max-width: none !important;
    width: 75% !important;
  }
}
@media (max-width: 750px) {
  .Section {
    min-width: none !important;
    max-width: none !important;
    width: 90% !important;
  }
}
@media (max-width: 550px) {
  .Section {
    padding: 0;
    min-width: none !important;
    max-width: none !important;
    width: 100% !important;
  }
}
.hideTheMenu {
  display: flex;
  justify-content: space-around;
  flex-wrap: no-wrap;
  z-index: 9;
  align-items: center;
  background-color: yellow;
  min-width: none;
  max-width: none;
  width: 150px;
  min-height: none;
  max-height: none;
  height: 250px;
  margin: 0;
  position: fixed;
  left: 0;
  bottom: -300px;
  left: 10px;
  box-shadow: -8px 0 6px -6px black;
  flex-direction: column-reverse;
}
.hideTheMenu #HideMenu {
  cursor: pointer;
  position: fixed;
  bottom: 280px;
  left: 10px;
  height: 30px;
  width: 30px;
  opacity: 0.94;
}
.hideTheMenu #HideMenu img {
  margin: 0%;
  padding-top: 0;
  height: 30px;
  width: 30px;
}
.hideTheMenu ul {
  position: relative;
  list-style: none;
  text-align: center;
  min-height: none;
  max-height: none;
  height: 100%;
}
.hideTheMenu #Back2Top {
  cursor: pointer;
  position: fixed;
  left: 10px;
  bottom: 310px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  opacity: 0.94;
  background-color: #ff2052;
}
.hideTheMenu #Back2Top a img {
  padding: 0;
  width: 15px;
  height: 15px;
}
.social-media {
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: no-wrap;
  height: 30px;
  width: 30px;
}
.social-media a {
  width: 100%;
  text-align: right;
  height: 20px;
  width: 20px;
}
.social-media a img {
  height: 20px;
  width: 20px;
}
.Nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: no-wrap;
  align-items: center;
  position: fixed;
  z-index: 9;
  padding: 0;
  margin-top: 1%;
  min-width: none;
  max-width: none;
  width: 250px;
  min-height: none;
  max-height: none;
  height: max-content;
  opacity: 0.94;
}
@media (max-width: 1000px) {
  .Nav {
    bottom: 60px;
    left: 40px;
    margin: 0;
    min-width: none;
    max-width: none;
    width: 150px;
    min-height: none;
    max-height: none;
    height: 250px;
    background-color: #ff2052;
    box-shadow: 8px 0 6px -6px black;
    flex-direction: column-reverse;
  }
}
.Nav .profile-img {
  background-image: url('https://drive.google.com/uc?id=1DQCBLj-hPM0BhA25ZBzXKEdjXlUe_fo2');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  min-width: none;
  max-width: none;
  width: 14rem;
  min-height: none;
  max-height: none;
  height: 14rem;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .Nav .profile-img {
    width: 13rem;
    height: 13rem;
    display: none;
  }
}
@media (max-width: 1000px) {
  .Nav .profile-img {
    width: 9rem;
    height: 9rem;
  }
}
.Nav ul {
  position: relative;
  list-style: none;
  text-align: right;
  min-width: none;
  max-width: none;
  width: 100%;
  margin-top: 4%;
}
@media (max-width: 1000px) {
  .Nav ul {
    margin: 0;
    text-align: center;
    min-height: none;
    max-height: none;
    height: 100%;
  }
}
.Nav #hideMenu {
  cursor: pointer;
  position: fixed;
  bottom: 280px;
  left: 10px;
  height: 30px;
  width: 30px;
  opacity: 0.94;
}
.Nav #hideMenu img {
  height: 30px;
  width: 30px;
}
.Nav #back2Top {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  opacity: 0.94;
  line-height: 30px;
  background-color: #ff2052;
  color: white;
}
@media (max-width: 1000px) {
  .Nav #back2Top {
    cursor: pointer;
    position: fixed;
    left: 10px;
    bottom: 310px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background-color: #ff2052;
  }
  .Nav #back2Top a img {
    padding: 0;
    width: 15px;
    height: 15px;
  }
}
.Nav #back2Top:hover {
  background-color: black;
}
.Nav #back2Top a {
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 2rem;
  height: 100%;
}
.Nav #back2Top a img {
  padding-bottom: 10px;
  padding-right: 7px;
  width: 20px;
}
@media (max-width: 1000px) {
  .Nav #back2Top a img {
    padding: 0;
    width: 15px;
    height: 15px;
  }
}
.Nav li {
  font-family: 'Sora', sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 50px;
  padding: 2%;
  font-family: 'Supermercado One', cursive;
  font-weight: regular;
}
.Nav li a {
  margin-right: 2%;
}
.Nav li:hover {
  background-color: #ff2052;
  color: white;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .Nav li {
    padding: 0%;
    font-size: 1.3rem;
    min-width: none;
    max-width: none;
    width: 80px;
    color: white;
  }
  .Nav li:hover {
    color: antiquewhite;
  }
}
#biz-card {
  padding: 1%;
  min-width: none;
  max-width: none;
  width: 100%;
}
@media (max-width: 1000px) {
  #biz-card {
    display: none;
  }
}
.Main {
  margin-top: 1%;
  font-size: 1.3rem;
  min-width: none;
  max-width: none;
  width: 70%;
  position: absolute;
  right: 0;
  padding-bottom: 10%;
}
@media (max-width: 1000px) {
  .Main {
    margin: 0;
    padding: 0 1%;
    min-width: none;
    max-width: none;
    width: 100%;
  }
}
.Main-h3 {
  font-size: 1.7rem;
  margin: 3% 0;
  font-family: 'Supermercado One', cursive;
  font-weight: none;
}
#Intro,
#Skills,
#Projects,
#Contact {
  padding: 2%;
}
#Jumbotron {
  background-color: #272727;
  min-width: none;
  max-width: none;
  width: 100%;
  min-height: 250px;
  max-height: 500px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: none;
  flex-wrap: wrap;
  position: relative;
  font-family: 'Supermercado One', cursive;
  font-weight: regular;
}
@media (max-width: 1000px) {
  #Jumbotron {
    min-height: 250px;
    max-height: 500px;
    height: 300px;
  }
}
#term {
  position: absolute;
  top: 45px;
  left: 10px;
  color: #41ff51;
  position: relative;
}
#term,
.type {
  font-size: 1.4rem;
}
@media (max-width: 1000px) {
  #term,
  .type {
    font-size: 1rem;
  }
}
.type {
  position: absolute;
  left: 165px;
  top: 45px;
  color: white;
}
@media (max-width: 1000px) {
  .type {
    left: 120px;
  }
}
#close,
#expand,
#mini {
  margin-top: 15px;
  padding: 5%;
  min-width: none;
  max-width: none;
  width: 15px;
  min-height: none;
  max-height: none;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}
#close > img,
#expand > img,
#mini > img {
  min-width: none;
  max-width: none;
  width: 5px;
  min-height: none;
  max-height: none;
  height: 5px;
}
#close {
  background-color: #fc5e5e;
}
#expand {
  background-color: #41ff51;
}
#mini {
  background-color: #fdbf4b;
}
.ToolBar {
  min-width: none;
  max-width: none;
  width: 100%;
  min-height: none;
  max-height: none;
  height: 40px;
  background-color: #5c5c5c;
  position: absolute;
  top: 0;
  left: 0;
}
.ToolBar div {
  min-height: none;
  max-height: none;
  height: 40px;
  min-width: none;
  max-width: none;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
  float: right;
}
.cpu-gif {
  position: absolute;
  bottom: 5px;
  right: 20px;
  min-width: none;
  max-width: none;
  width: 30%;
}
#Intro {
  background-color: #ff2052;
  color: #ffffff;
}
#Intro p {
  font-size: 1.1rem;
}
@media (max-width: 1000px) {
  #Intro p {
    font-size: 1rem;
  }
}
#Intro:hover {
  opacity: 0.9;
}
#Skills #CardContainer > div {
  margin: 0 auto;
}
#Skills #CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
#Skills #CardContainer h4 {
  text-align: center;
  min-width: none;
  max-width: none;
  width: 100%;
  color: #353535;
}
#Skills #CardContainer .os-skills,
#Skills #CardContainer .fe-skills,
#Skills #CardContainer .be-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#Skills #CardContainer .SkillCard {
  margin-top: 2%;
  margin-bottom: 1%;
  display: inline-block;
  min-width: none !important;
  max-width: none !important;
  width: 140px !important;
  min-height: none;
  max-height: none;
  height: 180px;
  padding: 1%;
  min-width: none;
  max-width: none;
  width: 100%;
}
#Skills #CardContainer .SkillCard .img-con {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
  min-width: none;
  max-width: none;
  width: 130px;
  min-height: none;
  max-height: none;
  height: 130px;
}
#Skills #CardContainer .SkillCard .img-con img {
  min-width: none;
  max-width: none;
  width: 70px;
  min-height: none;
  max-height: none;
  height: 70px;
  margin: 0 auto;
}
#Skills #CardContainer .SkillCard .img-con p {
  font-size: 1rem;
  text-align: center;
}
#Skills #CardContainer .SkillCard .skill-list {
  padding: 1%;
  min-width: none;
  max-width: none;
  width: 65%;
}
@media (max-width: 1000px) {
  #Skills #CardContainer .SkillCard .skill-list {
    min-width: none;
    max-width: none;
    width: 100%;
  }
}
#Skills #CardContainer .SkillCard .skill-list li {
  list-style-type: none;
  margin: 2%;
}
#Skills #CardContainer .SkillCard .skill-list li #bullit {
  color: #ff2052;
}
#Projects {
  padding-bottom: 10%;
}
#Projects .project-overview {
  min-height: none;
  max-height: none;
  height: max-content;
}
#Projects .project-overview h4 {
  margin: 4% 0;
}
#Projects .project-overview p {
  font-size: 1rem;
}
#Projects .project-overview ul {
  list-style: lower-roman;
}
#Projects .project-overview ul li {
  font-size: 1rem;
}
#Projects .project-overview a {
  padding: 1%;
  font-size: 1rem;
}
#Projects .project-overview a:last-child {
  border-left: #272727 2px solid;
}
#coffee {
  margin: 1%;
  width: 30px;
}
#Contact {
  background-color: black;
  color: white;
}
#Contact div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: no-wrap;
}
@media (max-width: 1000px) {
  #Contact div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    flex-wrap: no-wrap;
    align-items: center;
  }
}
#Contact div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
#Contact div form label {
  font-size: 1rem;
}
#Contact div form label input {
  display: block;
  min-width: 320px;
  max-width: 600px;
  width: 50%;
}
#Contact div form button {
  min-width: none;
  max-width: none;
  width: 100px;
  min-height: none;
  max-height: none;
  height: 40px;
  border: none;
  background-color: #ff2052;
  font-family: 'Supermercado One', cursive;
  font-weight: none;
  color: white;
  font-size: 1rem;
}
#Contact div .contact-ad {
  width: 50%;
  padding: 4%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
}
#Contact div .contact-ad img {
  width: 270px;
  height: 200px;
}
#Contact div .contact-ad p {
  text-align: center;
  margin: 3% 0;
}
textarea {
  min-height: none;
  max-height: none;
  height: 200px;
  min-width: 320px;
  max-width: 600px;
  width: 50%;
  display: block;
}
.photo-container {
  position: relative;
  overflow: hidden;
  background-color: black;
}
.photo-container img {
  min-width: none;
  max-width: none;
  width: 100%;
  min-height: none;
  max-height: none;
  height: 100%;
}
#next,
#prev {
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  background-color: #272727;
  opacity: 0.84;
  top: 0;
  min-height: none;
  max-height: 650px;
  height: 100%;
  min-width: none;
  max-width: none;
  width: 60px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
#next:hover,
#prev:hover {
  opacity: 0.97;
}
#next {
  right: 0;
}
#prev {
  left: 0;
}
.TheLab {
  margin-top: 1%;
  font-size: 1.3rem;
  min-width: none;
  max-width: none;
  width: 70%;
  position: absolute;
  right: 0;
  padding-bottom: 10%;
}
@media (max-width: 1000px) {
  .TheLab {
    margin: 0;
    min-width: none;
    max-width: none;
    width: 100%;
  }
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCp6KVjbNBYlgoKejZftWyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCu6KVjbNBYlgoKeg7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCp6KVjbNBYlgoKejYHtGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCjC3Ttw.ttf) format('truetype');
}
body,
.App,
html,
#root {
  min-width: none;
  max-width: none;
  width: 100%;
  min-height: none;
  max-height: none;
  height: auto;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
html {
  font-family: 'Sora', sans-serif;
  font-weight: 200;
}
